.order-body{
    width: 100%;
    height: 100%;
    padding-top: 10rem;
}

body{
    background-image: url(../img/order.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    padding-top: 1rem;
}
