@import "viewOrder.css";


header{
    padding-top: 1rem;
}


body {
    color: #566787;
    background:url("../img/reportBG.jpg");
    background-repeat: no-repeat;
    background-size: 100% 120%;
  }

  .alert{
      top:19rem;
  }